{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "AllowEC2ToReadBaseBucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                    "arn:aws:iam::${account_id}:role/${ec2_assume_role}",
                    "arn:aws:iam::${account_id}:role/${ec2_manage_eip_role}"
                ]
            },
            "Action": "s3:ListBucket",
            "Resource": "arn:aws:s3:::${key_bucket}"
        },
        {
            "Sid": "AllowEC2ToReadBaseBucketObjects",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                    "arn:aws:iam::${account_id}:role/${ec2_assume_role}",
                    "arn:aws:iam::${account_id}:role/${ec2_manage_eip_role}"
                ]
            },
            "Action": [
                "s3:Get*",
                "s3:List*"
            ],
            "Resource": "arn:aws:s3:::${key_bucket}/*"
        },
        {
            "Effect": "Allow",
            "Principal": "*",
            "Action": [
                "s3:GetObject"
            ],
            "Resource": "arn:aws:s3:::${key_bucket}/repos/*"
        }
    ]
}
